<div id="node-blockchain">
    <h5> Cyber-Angriffe gegen Blockchain-Technologien</h5>
    <p style="text-align:justify">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <div class="divider"></div>
    <h6><i class="mdi mdi-web left"></i>weiterführende Links</h6>
    <ul>
        <li><a href="https://www.w3schools.com/" target="_blank">www.w3schools.com</a></li>
        <li><a href="https://www.example.net/" target="_blank">www.example.net</a></li>
    </ul>
</div>