
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  
  .node text {
    font: 12px sans-serif;
    text-shadow: 0px 0px 4px gainsboro;
  }
  
  .link {
    fill: none;
    stroke: #ddd;
    stroke-width: 2px;
  }

  .hyperlink {
    fill: steelblue;
    font-weight: 700;
  }

  .tree-container {
    border: 1px solid rgba(0,0,0,0.15);
  }


  /* tooltip */

  div.tooltip {	
    position: absolute;			
    text-align: center;							
    padding: 5px;				
    font: 12px sans-serif;		
    background: #333;
    color: white;
    border: 0px;		
    border-radius: 3px;			
    pointer-events: none;			
}