---
layout: default
---



<div id="home-carousel" class="carousel carousel-slider center">

  <div class="carousel-fixed-item center">
    <div class="carousel-buttns">
      <a id="play-btn" class="btn btn-flat white-text waves-effect waves-light"><i class="mdi mdi-play"></i></a>
      <a id="pause-btn" class="btn btn-flat white-text waves-effect waves-light"><i class="mdi mdi-pause"></i></a>
    </div>
    <div class="container">
      <img class="logo-carousel" alt="safe-UR-chain" src="{{ "/assets/img/logo-large.png" | relative_url }}">
    </div>
  </div>

  <div id="carousel-1" class="carousel-item white-text container" href="#one!">
    <div class="hide-on-small-only">
      <div class="container claim ">
        <h2 class="typewriter">{{site.title}} ist... </h2>
        <h5 class="lazy">{{site.claim }}</h5>
      </div>
    </div>
  </div>
  <div id="carousel-2" class="carousel-item white-text" href="#two!">
    <div class="banner-text">
      <h5>ALTRAN</h5>
      <p class="container white-text">Konzeption, IT-Sicherheit und Systemevaluation</p>
    </div>
  </div>
  <div id="carousel-3" class="carousel-item white-text" href="#three!">
    <div class="banner-text">
      <h5>Hochschule Mittweida</h5>
      <p class="container white-text">Blockchainnetzwerke mit Funkclients für kritische Infrastrukturen</p>
    </div>
  </div>
  <div id="carousel-4" class="carousel-item white-text" href="#four!">
    <div class="banner-text">
      <h5>XENON</h5>
      <p class="container white-text">Anforderungserhebung und maschinennahe Datenverarbeitung in den Anwendungsszenarien</p>
    </div>
  </div>
  <div id="carousel-5" class="carousel-item white-text" href="#five!">
    <div class="banner-text">
      <h5>Fraunhofer IWU</h5>
      <p class="container white-text">Koordination, Konzeption, Test- und Systemevaluation</p>
    </div>
  </div>
</div>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h5 class="header center light">{{ content }}</h5>
  </div>
</div>

<div class="container">
  <div class="section scrollspy" id="get-startet">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="mdi mdi-shield-link-variant-outline medium"></i></h2>
          <h5 class="center">IT-Sicherheit</h5>
          <p class="light">Wie man modernste IT-Sicherheitsmechanismen und
            Blockchain-Technologien mit einander kombiniert, wird im Verbund erforscht.<br />
            Durch die Integration beider Domänen wird ein deutlich höheres Maß an IT-Sicherheit erwartet,
            als es bisher technisch möglich ist.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="mdi mdi-factory medium"></i></h2>
          <h5 class="center">Produktionsnetzwerke</h5>
          <p class="light">Heutige Wertschöpfungsnetzwerke tauschen bereits automatisiert Daten aus.
            Diese Branchennetzwerke sind angreifbar bzw. im Fokus von Cyber-Attaken.<br />
            Die in safe-UR-chain erprobten Technologien sollen einen wesentlichen Beitrag zu
            manipulationssicherer, redundanter und rückverfolgbarer Kommunikation leisten.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="mdi mdi-router-wireless medium"></i></h2>
          <h5 class="center">sichere Kommunikation</h5>
          <p class="light">Als Schwerpunkt wird im Projekt die drahtlose und drahtgebundene Kommunikation
            in Prozessketten untersucht. Die hierin anfallenden Daten stellen besonders kritische Bereiche der
            Produktion dar,
            die durch neue IT-Sicherheitskonzepte abgesichert werden sollen.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container last-post">
  <section>
    <h5>Letzte Beiträge</h5>
    <div class="row">
      {% for post in site.posts limit:3 %}
      {% assign date_format = site.minima.date_format | default: "%d.%m.%y" %}
      <div class="col s12 m6">
        <div class="card small">
          <div class="card-image">
            <a class="waves-effect waves-light" href="{{ post.url | relative_url }}">
              <img src="{{ post.image | relative_url }}" />
            </a>
          </div>
          <div class="card-content">
            <span class="card-title">{{ post.title | escape }}</span>
          </div>
          <div class="card-action">
            <span class="light">{{ post.date | date: date_format }} • {{ post.categories }}</span>
            <a class="right" href="{{ post.url | relative_url }}">Weiterlesen</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>

<script>
    $('#home-carousel').carousel({
      fullWidth: true,
      indicators: true,
      duration: 500
    });
</script>